.sliderSec {
  text-align: center;
}
.sliderMain {
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 10px 0;
}
@media (min-width: 1440px) {
  .sliderMain {
    max-width: 90%;
    justify-content: center;
  }
}
.sliderMain::-webkit-scrollbar {
  display: none;
}

.sliderSec .goBtn {
  margin-top: 35px;
  padding: 5px 50px !important;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 27px;
  background: #40a9ff;
  border-radius: 50px;
}
.sliderSec .goBtn:hover {
  background: #2897f1;
}
